@charset "UTF-8";

* { /*CONFIGURAÇÃO GLOBAL*/
    margin: 0px;
    padding: 0px;
}

/* import das fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    --corzinza: #231F20;
    --corazul: #06639B;
    --corverdeclaro: #00B2A9;
    --corrosa: #D52685;
    --corzinzaclaro: #BFBFBF;

    --fonte1: 'Work Sans', sans-serif;
    --fonte2: 'Alfa Slab One', serif;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body {
    
    font-family:  var(--fonte-padrao);
     background-image:linear-gradient(to left , var(--corverdeclaro) 50%, var(--corazul));
}


header{ 
    padding: 10px;
    background-color: #00B2A9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-image:linear-gradient(to left , var(--corverdeclaro) 50%, var(--corazul));
    color: white;
    text-align: center;
   
}

header>p {
    padding-bottom: 10px;
    padding-top: 13px;
    padding-left: 10px;
}

article {
    background-color:
}


   