@charset "UTF-8";

/* CONFIGURAÇÃO GLOBAL */
* {
    margin: 0px;
    padding: 0px;
}

/* Import das fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Declaração da fonte local 'Candy' */
@font-face {
    font-family: 'Candy';
    src: url('../fonte/Candy.otf') format('opentype');
}

/* Variáveis CSS (Cores e Fontes) */
:root {
    --corzinza: #231F20;
    --corazul: #06639B;
    --corverdeclaro: #00B2A9;
    --corrosa: #D52685;
    --corzinzaclaro: #BFBFBF;

    --fonte1: 'Work Sans', sans-serif;
    --fonte2: 'Alfa Slab One', serif;
    --fonte-candy: 'Candy', sans-serif;
    --fonte-padrao: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Define a fonte 'Lucida Sans' para toda a página.
   Isso evita a repetição de código e garante que a fonte
   seja aplicada em todos os elementos, incluindo a tabela. */
body {
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to left, var(--corverdeclaro) 50%, var(--corazul));
    color: rgb(255, 255, 255);
}

/* Estilos do Cabeçalho */
header {
    /* A fonte foi removida daqui, pois o 'body' já define para todos */
    padding: 20px;
    background-color: var(--corverdeclaro);
    background-image: linear-gradient(to left, var(--corverdeclaro) 50%, var(--corazul));
    color: white;
    text-align: center;
    font-size: larger;
    text-shadow: 3px 5px 19px rgb(0, 0, 0);
}

header > p {
    padding-bottom: 0.5em;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 20px;
    text-shadow: 3px 5px 19px rgb(0, 0, 0);
}

/* Estilos da Barra de Navegação */
nav {
    background-image: linear-gradient(to left, var(--corverdeclaro) 50%, var(--corazul));
    padding: 10px;
    text-align: center;
    text-shadow: 3px 5px 19px rgb(0, 0, 0);
}

nav > a {
    /* A fonte foi removida daqui, pois o 'body' já define para todos */
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: auto;
    text-shadow: 3px 5px 19px rgb(0, 0, 0);
}

nav a:hover {
    background-color: var(--corrosa);
    transition: 0.5s;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}

h1 {
    color: white;
}

/* CONFIGURAÇÃO DE TABELA */
table {
    margin: 0 auto;
    width: 800px;
    max-width: 800px;
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

thead {
    background-color: var(--corrosa);
}

th, td {
    border: 1px solid black;
    padding: 10px;
    /* A propriedade 'background-color' estava vazia. Adicionei uma cor. */
     
}