@charset "UTF-8";

/* CONFIGURAÇÃO GLOBAL */
* {
    margin: 0px;
    padding: 0px;
}

/* Import das fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Declaração da fonte local 'Candy' */
@font-face {
    font-family: 'Candy';
    src: url('../fonte/Candy.otf') format('opentype');
}

/* Variáveis CSS (Cores e Fontes) */
:root {
    --corzinza: #231F20;
    --corazul: #06639B;
    --corverdeclaro: #00B2A9;
    --corrosa: #D52685;
    --corzinzaclaro: #BFBFBF;

    --fonte1: 'Work Sans', sans-serif;
    --fonte2: 'Alfa Slab One', serif;
    --fonte-candy: 'Candy', 
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}


body {
    font-family: var(--fonte1);
    background-image: linear-gradient(to left, var(--corverdeclaro) 50%, var(--corazul));
    color: rgb(255, 255, 255)
}


header {
    font-family: var(--fonte1);
    padding: 20px;
    background-color: var(--corverdeclaro); /* Use a variável para a cor */
    background-image: linear-gradient(to left, var(--corverdeclaro) 50%, var(--corazul));
    color: white;
    text-align: center;
}

header > p {
    padding-bottom: 10px;
    padding-top: 13px;
    padding-left: 10px; /* Considere usar 'padding' para definir os 4 lados de uma vez */
}

nav {
    background-image: linear-gradient(to left, var(--corverdeclaro) 50%, var(--corazul));
    padding: 10px;
   
    
}

nav> a{
    color: white;
    text-decoration: none;


}
h1{
    color: white;
}

/*CONFIGURAÇÃO DE TABELA*/
 body {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            /* Centraliza a tabela na página */
            margin: 0 auto;
            
            /* Demais estilos */
            width: 800px;
            max-width: 800px;
            border-collapse: collapse;
        }

        caption {
            font-size: 1.3em;
            font-weight: bold;
            padding: 10px;
        }

        thead {
            background-color: var(--corrosa);
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            background-color: ;
        }

        